@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
  --font-main: 'Arial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: #001a33;
  color: white;
  overflow: hidden;
}